.header{
    height: 110px;
    width: 100vw;
    background-color: #FFFFFF;
    padding-top: 30px;
    padding-left: 40px;
    .header-awesome-image {
        width: 201px;
        height: 50px;
    }

}