.landingPageBody{
  background: #f5f5f5;
  width: 100%;
  height: calc(100vh - 110px);
  min-height: 300px;
  padding: 95px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: scroll;
  @include forTablet {
    padding: 30vh 60px 60px 60px;
    height: calc(100vh - 60px);
  }
  .landingContent {
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .awesome-image {
      width: 250px;
      height: 64px;
      margin-bottom: 35.4px;
      @include forTablet {
        width: 419px;
        height: 105px;
      }
    }
    .title {
      font-size: $smallLandingTitle;
      font-family: $landingTitle;
      font-weight: 900;
      color: $secondaryColor;
      text-align: center;
      @include forTablet {
        margin-bottom: 5px;
        font-size: $largeLandingTitle;
      }
    }
    .text {
      font-size: $smallLandingText;
      font-family: $mainText;
      color: $formText;
      text-align: center;
      margin-bottom: 18px;
      line-height: normal;
      width: 265px;
      @include forTablet {
        font-size: $LargeLandingText;
        width: 330px;
      }
    }
    .icon-container {
      width: 268px;
      height: 74px;
      border: 1.6px solid rgba(225, 115, 52, 0.21);
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 40px;
      @include forTablet {
        width: 325px;
        height: 86px;
      }
      .design-icon, .fill-icon, .share-icon {
        color: $secondaryColor;
        font-size: $smallIconsLanding;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        @include forTablet {
        font-size: $largeIconsLanding;
        }
        .icon1text, .icon2text, .icon3text {
          font-size: $smallLandingText;
          font-family: $mainText;
          color: $primaryColor;
          padding-top: 2px;
          @include forTablet {
            font-size: $LargeLandingText;
          }
        }
      }
    }
  }
  .button {
    height: 42px;
    width: 129px;
    padding: 13px;
    border-radius: 21px;
    background: #438792;
    color: white;
    font-family: $mainText;
    font-size: $LargeLandingText;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }
}
    
  
